@font-face {
    font-family: "RostelecomBasis-Light";
    src: 
         url("https://grebenkov.github.io/rt-basis.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "RostelecomBasis-Regular";
    src: 
         url("https://grebenkov.github.io/rt-basis.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "RostelecomBasis-Medium";
    src: 
         url("https://grebenkov.github.io/rt-basis.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "RostelecomBasis-Bold";
    src: 
         url("https://grebenkov.github.io/rt-basis.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
#side-right * {
  font-family: 'RostelecomBasis-Regular', sans-serif!important;
}

{
    font-family: 'RostelecomBasis-Regular', sans-serif;
    font-size: 16px;
}

TD {
    font-family: 'RostelecomBasis-Regular', sans-serif;
    font-size: 16px;
}

.ge_white_on_black {
    font-family: 'RostelecomBasis-Regular', sans-serif;
    font-size: 16px;
}
.h5 {
    font-size: 16px;
}
.h8 {
    font-size: 16px;
}
.h9 {
    font-size: 16px;
}
.h10 {
    font-size: 16px;
}
.h11 {
    font-size: 16px;
}
.h12 {
    font-size: 16px;
}
.h13 {
    font-size: 16px;
}
.h14 {
    font-size: 16px;
}
.h15 {
    font-size: 15px;
}
.h16 {
    font-size: 16px;
}
.h17 {
    font-size: 17px;
}
.h18 {
    font-size: 18px;
}
.h19 {
    font-size: 19px;
}
.h20 {
    font-size: 20px;
}
.h23 {
    font-size: 23px;
}
.h24 {
    font-size: 24px;
}
.h40 {
    font-size: 40px;
}

.input {
    font-family: 'RostelecomBasis-Regular', sans-serif;
    background-color: #FFFFFF;
    color: #101828;
    height: 18px;
    font-size: 14px;
}
.input_border {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
.input_width_not_fixed {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
.textbox {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
.textbox.big {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
.textarea {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
.textarea_blank {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
.txt_rich_editor {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
#boxUser a.gold19 {
  font-family: 'RostelecomBasis-Regular', sans-serif!important;
}
.ui-widget button {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
.ui-widget {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
#tblUserBox .lma {
    font-family: 'RostelecomBasis-Regular', sans-serif!important;
}
#tblUserBox .lma {
    color: #f78604!important;
}
#tblUserBox a.h9 {
  font-family: 'RostelecomBasis-Regular', sans-serif!important;
}
.tabNav {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
.tabNav li.more a {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
.tabNav_bottom {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
.tabText {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
.tabCal {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
.tabCal li.more a {
    font-family: 'RostelecomBasis-Regular', sans-serif;
}
.menu,
.menu *,
.menu li,
.menu li a,
.menu li li a {
    font-family: 'RostelecomBasis-Regular', sans-serif!important;
}
.calendar h1 {
    font-family: 'RostelecomBasis-Regular', sans-serif!important;
}
BODY {
  color:#70747e;
  background-color:White;
}
.white {
 color:#101828;
}
.white_bold {
 color:#101828;
 font-weight:bold;
}
.green {
 color:#101828;
}
.green_gold {
 color:#101828;
}
.white19 {
 color:#101828;
 font-size:24px;
}
.gold19 {
 color:#101828;
 font-size:24px;
}
.orange {
 color:#70747e;
}
.gold {
 color:#70747e;
}
A {
 COLOR:#101828;
}
A:hover {
 COLOR:black;
}
A.yellow_darkgreen {
 COLOR:#f1f3f5;
}
A.green {
 COLOR:#f1f3f5;
}
A.lm {
 COLOR:#f1f3f5;
}
A.lm:hover {
 COLOR:white; 
}
.PageTitle {
 color:#101828;
}
.white24 {
 color:#f1f3f5;
 background-color: #7700ff;  
 font-size:24px;
 padding:5px;
}
.white_bold14 {
 color:#f1f3f5;
 background-color: #7700ff;  
 font-size:18px;
 padding:5px;
}
.bg_main,
.center-column {
 background-color:#f1f3f5; 
}
TR.topWinnerHead {
 background-color:#273a64;
}
TR.toWinnerItem {
 background-color:#FFFFFF;
}
TR.toWinnerAltItem {
 background-color:#FFFFFF;
}
.leftMenu {
 background-color:#f1f3f5;
}
.enPnl1.pnGr {
 border-color:#ff4f12!important;
 background-color:#ff4f12!important;
}
.enPnl1.pnOl {
 border-color:#ff4f12!important;
 background-color:#ff4f12!important;
}
.enPnl1.clr0 {
 border-color:#ff4f12!important;
 background-color:#ff4f12!important;
} 
.enPnl1.pnGr2 {
 border-color:#f1f3f5!important;
 background-color:#f1f3f5!important;
}
.tabCntHolder_alt {
 border-bottom:1px solid #f1f3f5;
 border-left:1px solid #f1f3f5;
 border-right:1px solid #f1f3f5;
 padding:0;
 margin:0;
 background-color:#f1f3f5;
}
.panel_line_bgcolor {
 background-color:#ff4f12;
}
.h9 {
 color:#f1f3f5;
}
.yellow_lihgt {
 color:#FFF;
}
#tblUserBox {
 color:#f1f3f5;  
}
#boxNews {
    visibility: hidden;
}
#boxOnlineHelp {
    visibility: hidden;
}
#lnkAdPlacement {
    visibility: hidden;
}
.hr {
 height:2px;
 background-image: none;
 background-color: #7700ff;
}
.bg_light2 {
 background-color:#273a64;
}
.bottom_hr {
 background-color:#7700ff;
 height:3px;
}
.yellow_darkgreen {
 color:#101828;
}
.menu li li:hover,
.menu li li.sfHover,
.menu .game,
.menuWrap td {
 background-image:none!important;
 background-color:#273a64;
}
.menu .subArrow,
.menu .rSubArrow,
.menu li a,
.menu li li,
.menu li li li,
.menu li,
.menu .default span {
 background-image:none!important;
 background-color:#273a64;
}
.menu .root,
.menu a:visited.root {
 color:#f1f3f5!important;
 text-decoration:none!important;
}
td#tdEn016 {
 background-color: #FFFFFF !important;
 background:#FFFFFF !important;
}
.menu .default {
 display:none;
 float:left;
 width:30px!important;
}
.menu a.sf-with-ul {
    color:#f1f3f5;
}
.menu a.bold {
    color:#f1f3f5;
    text-decoration:none!important;
}
.menu a {
    color:#f1f3f5;
    text-decoration:none!important;
}
#enhlMobileVersionLink {
    color:#f1f3f5;
    text-decoration:none!important;
}
.mailRead {
 background-color:#f1f3f5;
}
.mailUnRead {
 background-color:#FFFFFF;
}
.mailDeleted {
 background-color:#e3e8ec;
}
.msgDateTime {
 color:#101828;   
}
a.green {
 color:#101828;
}
.enMailTab td {
 background:none;
}
.enMailTab td div {
 background:none;
}
.enMailTab td a {
 background:none;
}
.enMailTab .td_last {
 background:none;
}
.enMailTab .td_free a {
 background:none;
}
.enMailTab .current {
 background:none;
}
.enMailTab .current div {
 background-image:none;
}
.enMailTab .current a {
 background:none;
 color:#000;
}
.enMailTab .current span {
 color:#000;
}
.enMailTab .current .count {
 color:#000!important;
}
.enMailTab .current .count a:hover span {
 color:#000!important;
}
.enMailTab .current a:hover span {
 color:#000000;
}
.enMailTab .td_free {
 margin:0;
 background:none;
}
.enMailTab .count {
 color:#101828!important;
}
.enMailTab .td_free a {
 text-decoration:none;
 color:#101828;
}
.enMailTab td a span {
 text-decoration:none;
}
.enMailTab td a:hover span {
 text-decoration:underline;
 color:#101828;
}
.tab .red_orange {
 color:#979799 
}
#tblUserBox .lma {
    color: #7700ff!important;
}
#tblMailSelect td.yellow_lihgt {
  color:#101828;
}
.mailDialogInfo {
  color:#70747e;    
}